<h1>Nuevo Vino</h1>

<%= render 'form', wine: @wine, strains: @strains, wine_strain: @wine_strain %>

<%= link_to 'Index de Vinos', wines_path %>
<%= link_to  "Crear registro de Cepa", new_strain_path %>
